<html>
    <head>
        <meta charset="utf-8">
        <title>Formatted Title</title>
    </head>
    <body>
        <!--TODO: make an actual form with labels and inputs-->
        <h1>Here is the formatted title</h1>
        <h3>Unformatted Title: {{ unformatted_title }}</h3>
        <h3>Formatted Title: {{ formatted_title }}</h3>
    </body>
</html>
