<html>
    <head>
        <meta charset="utf-8">
        <title>Input Title Form</title>
    </head>
    <body>
        <!--TODO: make an actual form with labels and inputs-->
        <h1>Here is the form where user gives the title</h1>
        <form action="/display_formatted_title" method="get">
            <label for="user-title">Enter title to be formatted!</label>
            <input id="user-title" name="user_title" type="text">
            <button type="submit">submit!</button>
        </form>
    </body>
</html>
